<body>
  <div class="container">
    <div class="sidebar">
      <div class="test">
        <ul>
          <li><a routerLink="/dashboard" style="color: white; text-decoration: none"><i class="fas fa-tachometer-alt"
                style="color: white"></i> Dashboard</a></li>
          <li><a routerLink="/cart" style="color: white; text-decoration: none"><i class="fas fa-credit-card"
                style="color: white"></i> Bank Card</a></li>
          <li style="background-color: #3e8e41;"><a routerLink="/facture" style="color: white; text-decoration: none"><i
                class="fas fa-file-invoice" style="color: white"></i> Factures</a></li>
          <li><a routerLink="/virement" style="color: white; text-decoration: none"><i class="fas fa-chart-bar"
                style="color: white"></i> Virement</a></li>
          <li><a routerLink="/recharge" style="color: white; text-decoration: none"><i class="fas fa-bookmark"
                style="color: white"></i> Recharge</a></li>
          <li>
            <a routerLink="/creancier" style="color: white; text-decoration: none"><i class="fas fa-cog"
                style="color: white"></i> Creancier</a>
          </li>
          <li><i class="fas fa-user" style="color: white"></i> Profile</li>
          <li><i class="fas fa-sign-out-alt" style="color: white"></i> Logout</li>
        </ul>
      </div>
    </div>

    <main>
      <header>
        <div class="company-info">
          <div class="company-name">MyCompany</div>
          <div class="rcs">RCS : 442441630</div>
        </div>
        <div class="contact-info">
          <div class="icon"><i class="fas fa-map-marker-alt"></i></div>
          <div>19 Rue Edouard Vaillant 37000 Tours - France</div>
          <div class="icon"><i class="fas fa-envelope"></i></div>
          <div>contactmycompany.com</div>
          <div class="icon"><i class="fas fa-phone"></i></div>
          <div>02 47 68 48 69</div>
        </div>
        <div class="outstanding-amount">
          <p>Montant restant dû :</p>
          <span>13 000,00 €</span>
        </div>
      </header>

      <!-- <section class="invoice-section">
        <h2 style="text-align: center; margin-bottom: 50px">Consultez et réglez vos factures dues</h2>


        <table>
          <thead>
            <tr>
              <th></th>
              <th>Montant</th>
              <th>Forunisseur</th>
              <th>Date d'écheance</th>
              <th>Statut</th>
              <th>Action</th>

            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let facture of factures">
              <td><input type="checkbox" [id]="'chk' + facture.id"></td>
              <td>{{ facture.montant }} DH</td>
              <td>{{ facture.fournisseur.nom }}</td>
              <td>{{ facture.dateLimite | date:'dd/MM/yyyy' }}</td>
              <td><span>{{ facture.statut }}</span></td>
              <td *ngIf="facture.statut.toString() === 'PAYÉE'; else nonPaye">
                <span>-</span>

              </td>
              <ng-template #nonPaye>
                <button class="btn btn-primary" (click)="payerFacture(facture)">Payer</button>

              </ng-template>



            </tr>
            <ng-container *ngIf="!isLoading; else loading">
              Recharger
            </ng-container>
            <ng-template #loading>
              <div class="spinner"></div>
            </ng-template>
          </tbody>

        </table>
        <button id="payButton">Payer les factures sélectionnées</button>
      </section> -->

      <section class="invoice-section">
        <h2 style="text-align: center; margin-bottom: 50px">
          Consultez et réglez vos factures dues
        </h2>

        <!-- Show Spinner if Data is Loading -->
        <div *ngIf="isLoading; else tableContent" class="loading-container">
          <div class="spinner"></div>
        </div>

        <!-- Table Content -->
        <ng-template #tableContent>
          <table>
            <thead>
              <tr>
                <th></th>
                <th>Montant</th>
                <th>Fournisseur</th>
                <th>Date d'écheance</th>
                <th>Statut</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let facture of factures">
                <td>
                  <input type="checkbox" [id]="'chk' + facture.id" />
                </td>
                <td>{{ facture.montant }} DH</td>
                <td>{{ facture.fournisseur.nom }}</td>
                <td>{{ facture.dateLimite | date: 'dd/MM/yyyy' }}</td>
                <td><span>{{ facture.statut }}</span></td>
                <td *ngIf="facture.statut.toString() === 'PAYÉE'; else nonPaye">
                  <span>-</span>
                </td>
                <ng-template #nonPaye>
                  <button class="btn btn-primary" (click)="payerFacture(facture)">
                    Payer
                  </button>
                </ng-template>
              </tr>
            </tbody>
          </table>
          <button id="payButton">Payer les factures sélectionnées</button>
        </ng-template>
      </section>

    </main>
  </div>
</body>