<body>
  <div class="container">
    <!-- Sidebar -->
    <div class="sidebar">
      <div class="test">
        <ul>
          <li>
            <a routerLink="/dashboard" style="color: white; text-decoration: none"><i class="fas fa-tachometer-alt"
                style="color: white"></i>
              Dashboard</a>
          </li>
          <li>
            <a routerLink="/cart" style="color: white; text-decoration: none"><i class="fas fa-credit-card"
                style="color: white"></i> Bank
              Card</a>
          </li>
          <li>
            <a routerLink="/facture" style="color: white; text-decoration: none"><i class="fas fa-file-invoice"
                style="color: white"></i>
              Factures</a>
          </li>
          <li>
            <a routerLink="/virement" style="color: white; text-decoration: none"><i class="fas fa-chart-bar"
                style="color: white"></i>
              Virement</a>
          </li>
          <li>
            <a routerLink="/recharge" style="color: white; text-decoration: none"><i class="fas fa-bookmark"
                style="color: white"></i>
              Recharge</a>
          </li>
          <li style="background-color: #3e8e41">
            <a routerLink="/creancier" style="color: white; text-decoration: none"><i class="fas fa-cog"
                style="color: white"></i> Creancier</a>
          </li>
          <li><i class="fas fa-user" style="color: white"></i> Profile</li>
          <li><i class="fas fa-sign-out-alt" style="color: white"></i> Logout</li>
        </ul>
      </div>
    </div>

    <!-- Main Content -->
    <div class="payment-container">
      <h1>Paiement de facture</h1>
      <div class="tabs">
        <button class="tab active">Liste des créanciers</button>
        <button class="tab">Historique</button>
      </div>
      <div class="filter-container">
        <select (change)="onFilterChange($event)">
          <option value="all">Toutes les catégories</option>
          <option value="taxes">Impôts, Taxes et Frais Portuaires</option>
          <option value="electricity_water">Eau et Électricité</option>
          <option value="internet_purchases">Achats Internet</option>
        </select>
      </div>
      <div class="creditor-grid">
        <div class="creditor-card" *ngFor="let creditor of filteredCreditors" style="cursor: pointer;">
          <img [src]="creditor.imageUrl" [alt]="creditor.nom" (click)="openModal(creditor.id)" />

          <h3>{{ creditor.nom }}</h3>
          <!-- <p>{{ creditor.description }}</p> -->
        </div>
      </div>
      <!-- Modal -->
      <div *ngIf="isModalOpen" class="modal-backdrop">
        <div class="modal">
          <button class="close-btn" (click)="closeModal()">✖</button>
          <h2>Factures for {{ selectedCreditor?.nom }}</h2>
          <ul *ngIf="factures.length > 0">
            <!-- <section class="invoice-section"> -->
            <!-- <h2 style="text-align: center; margin-bottom: 50px">Consultez et réglez vos factures dues</h2> -->
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>
                    <input type="checkbox" id="selectAll" (change)="toggleSelectAll($event)">
                  </th>
                  <th>Montant</th>
                  <th>Fournisseur</th>
                  <th>Date d'échéance</th>
                  <th>Statut</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                <!-- Loop through factures and pass each to the child component -->
                <tr *ngFor="let facture of factures">
                  <td><input type="checkbox" [id]="'chk' + facture.id"></td>
                  <td>{{ facture.montant }} DH</td>
                  <td>{{ facture.fournisseur.nom }}</td>
                  <td>{{ facture.dateLimite | date:'dd/MM/yyyy' }}</td>
                  <td><span>{{ facture.statut }}</span></td>
                  <td *ngIf="facture.statut.toString() === 'PAYÉE'; else nonPaye">
                    <span>-</span>

                  </td>
                  <ng-template #nonPaye>
                    <td>


                      <button class="submit-btn" [disabled]="isLoading" (click)="payerFacture(facture)">
                        <ng-container *ngIf="!isLoading; else loading">
                          Payer
                        </ng-container>
                        <ng-template #loading>
                          <div class="spinner"></div>
                        </ng-template>
                      </button>


                    </td>

                  </ng-template>
                </tr>
              </tbody>
            </table>



            <!-- </section> -->
          </ul>
          <p *ngIf="factures.length === 0">No factures available.</p>
        </div>
      </div>
    </div>
  </div>
</body>

<!-- Modal Component -->
<!-- <app-modal-factures *ngIf="isModalOpen" [factures]="factures" (closeModal)="closeModal()"></app-modal-factures> -->